body {
color: #ffffff;
background-color: rgb(13, 12, 48);
margin: 0;
padding: 0;
}

footer {
    background-color: rgb(44, 13, 113);
    color:rgb(22, 106, 233);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
   text-align: center;
   font-size: larger;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: rgb(55, 13, 96);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
    background-color: rgb(13, 12, 48);
    height: 100%;
}

.cartao__conteudo h3 {
    background-color: rgb(55, 13, 96);
    text-align: left;
    padding: 0.5rem;
}